extends layout

block content
 h1 About Us
 p
  | We handle a variety of issues pertaining to computer hardware and software.
  p
  | Our phone number is: 5134379208 
  p
  | Our hours are: Mon. to Fri. - 9am to 6pm | Sat. - 10am to 5pm | Sun. - CLOSED
  p
  | Go to "Contact" to message us by email
  P
   iframe(src='http://www.youtube.com/embed/zlZnmJf6KhM', allowfullscreen='', width='560', height='315', frameborder='0')
 
 