extends layout

block content
 h1 Hardware Issues
 p
  | Is your computer getting overheated? Is your computer running slow? If so, come find us!
  p
  | With us on your side, we put the "easy" in hardware!
  p
  | Here's a meme to lift your spirits up, while you wait for a technician to assist you.
  P
   img(src="https://i.pinimg.com/originals/87/dd/9e/87dd9ed4e8edeff76f8e5a1218656e16.jpg")