extends layout

block content
 h1 Virus Removal
 p
  | Can't save a file you're working on? Not able to access your files? Let us take care of your software issues!
  p
  | We'll fix your software issues nice and "softly"!
  p
  | Watch this video about nice soft pillows, while you wait for a technician to assist with your software needs!
  P
   iframe(src='http://www.youtube.com/embed/L9pK_NI4HXU', allowfullscreen='', width='560', height='315', frameborder='0')
 
 