extends layout

block content
 h1 Virus Removal
 p
  | We use the leading technologies in virus removal from providers such as Norton, McAfee, and ADT.
  p
  | If we can't get rid of the virus, then no one else can!
  p
  | We know computer viruses can be stressful. So while you wait for a technician to assist you, here's a cute video to calm you down.
  P
   iframe(src='http://www.youtube.com/embed/eEW2yTXiAZc', allowfullscreen='', width='560', height='315', frameborder='0')
 
 